* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: MesloLGS NF Regular;
  font-size: 14px;
  color: #cdd6f4;
  background-color: #181824;
}

#workspaces {
  margin-left: 20px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
}

#memory,
#battery,
#network,
#pulseaudio,
#clock {
  min-width: 12px;
  margin-right: 15px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}

#custom-launcher {
  color: #89b4fa;
  background: #25253a;
  border-radius: 0px 0px 15px 0px;
  margin: 0px;
  padding: 0px 25px 0px 5px;
  font-size: 18px;
  margin-right: 20px;
}
